{% load static %}
<!DOCTYPE html>
<html>
	<head>
		<!-- Google Icon font -->
		<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" />
		<!-- materializecss -->
		<link type="text/css" rel="stylesheet" href="{% static 'big/css/materialize.min.css' %}" media="screen,projection" />

		<!-- There is a  mobile version -->
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />

		<title>Biggify - Enlarge your dataset the easy way</title>
	</head>
	<body>
		<nav class="blue" role="navigation">
			<div class="nav-wrapper container">
				<a id="logo-container" href="{% url 'index' %}" class="brand-logo">Biggify</a>
				<a href="#" data-activates="nav-mobile" class="button-collapse">
					<i class="material-icons">menu</i>
				</a>
				<ul class="right hide-on-med-and-down">
					<li>
						<a href="{% url 'upload' %}" class="wave-effect waves-light btn">Create Task</a>
					</li>
				</ul>
				<ul id="nav-mobile" class="side-nav">
					<li>
						<a href="{% url 'upload' %}">Create Task</a>
					</li>
				</ul>
			</div>
		</nav>

		<script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
		<script type="text/javascript" src="{% static 'big/js/materialize.min.js' %}"></script>
		<script type="text/javascript" src="{% static 'big/js/init.js' %}"></script>

		<div class="section">
			<div class="container">
				<h1 class="center header">Biggify</h1>
				<br />
				<div class="row center">
					<h5 class="header button-collapse s12 light black-text">
						Enlarge your dataset the easy way
					</h5>
				</div>
			</div>
		</div>
		<div class="section">
			<div class="container">
				<h3 class="center header">What is Biggify?</h3>
				<br />
				<div class="row center">
					<h5 class="header button-collapse s12 light black-text">
						Biggify is the easiest method of enlargening your dataset
					</h5>
				</div>
				<div class="row center">
					<p class="button-collapse s12 light black-text">
					No more having to deal with tedious data collection
					</p>
				</div>
			</div>
		</div>
		<div class="section">
			<div class="container">
				<h3 class="center header">How does Biggify work?</h3>
				<br />
				<div class="row center">
					<h5 class="header button-collapse s12 light black-text">
						Magic.
					</h5>
				</div>
				<div class="row center">
					<p class="button-collapse s12 light black-text">
					Well, not quite, Biggify creates a generalization of your dataset, and then maps noise to fit its pattern
					</p>
				</div>
			</div>
		</div>
		<div class="section">
			<div class="container">
				<h3 class="center header">Got any examples?</h3>
				<br />
				<div class="row center">
					<h5 class="header button-collapse s12 light black-text">
						Not yet
					</h5>
				</div>
				<div class="row center">
					<p class="button-collapse s12 light black-text">
					We will soon, the project is only a few hours old!
					</p>
				</div>
			</div>
		</div>
		<div class="section">
			<div class="container">
				<h3 class="center header">Can Biggify do anything else?</h3>
				<br />
				<div class="row center">
					<h5 class="header button-collapse s12 light black-text">
						Theoretically it should also be able to classify images, but this has not been tested
					</h5>
				</div>
			</div>
		</div>
	</body>
</html>
