{% load static %}
{% load materializecss %}
<!DOCTYPE html>
<html>
	<head>
		<!-- Google Icon font -->
		<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" />
		<!-- materializecss -->
		<link type="text/css" rel="stylesheet" href="{% static 'big/css/materialize.min.css' %}" media="screen,projection" />

		<!-- There is a  mobile version -->
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />

		<title>Biggify - Enlarge your dataset the easy way</title>
	</head>
	<body>
		<nav class="blue" role="navigation">
			<div class="nav-wrapper container">
				<a id="logo-container" href="{% url 'index' %}" class="brand-logo center">Biggify</a>
			</div>
		</nav>

		<script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
		<script type="text/javascript" src="{% static 'big/js/materialize.min.js' %}"></script>
		<script type="text/javascript" src="{% static 'big/js/init.js' %}></script>

		<div class="container">
			<div class="row">
				<form action="" method="POST" enctype="multipart/form-data">
					{% csrf_token %}
					{{ form|materializecss }}
					<button type="submit" class="btn waves-effect waves-light right">
						Upload
						<i class="material-icons">send</i>
					</button>
				</form>
			</div>
		</div>
	</body>
</html>
